.content_info_right .right_content table{ border:0; border-collapse:collapse; text-align:center;}
.content_info_right .right_content table tbody tr td{ border:solid 2px #333; height:40px; width:400px;}
.home_content .content_bg .content_info_right .right_content div{ margin-top:40px;}