.content_bg .content_info_right .right_content ul{ width:800px;}
.content_bg .content_info_right .right_content ul li{ display:inline-block; width:264px; text-align:center; height:270px;}
.content_bg .content_info_right .right_content ul li div.img_product{ display:block; margin:0 auto; width:200px; height:170px;}
.content_bg .content_info_right .right_content ul li div.img_product img{ margin:0 auto; max-width:100%;}
.content_bg .content_info_right .right_content ul li span{ color:#848484; font:14px/20px Arial,Verdana,"微软雅黑";}
.home_content .content_bg .content_info_right .right_content div{ text-indent:0;}







































